@import url("./navbar.css");
@import url("./footer.css");

/* content */
.author {
    display: flex;
    flex-direction: row;
}
figcaption {
    color: #DB0000
}



@media(max-width:900px) {
    .image {
        display: none;
    }
}